In [1]:
import pandas as pd
import os

In [4]:
# json format
{
    "_id": "MESH1-MESH2",
    "MESH1": "D000001",
    "MESH2": "D002217",
    "UMLS1": "C0000233",
    "UMLS2": "C0000234",
    "combo": ["D000001-D002217", "D00001-UMLS1", "UMLS1-MESH2", "UMLS1-UMLS2"],
    "overal_freq": {
        "total": 23,
        "most_current_10": 10,
        "most_current_5": 5
    },
    "starred_frequency": {
        "total": 5,
        "most_current_10": 2,
        "most_current_5": 1
    },
    "ngd_overall": 0.23, # ngd: normalized google distance
    "ngd_starred": 0.12
}

{'_id': 'MESH1-MESH2',
 'MESH1': 'D000001',
 'MESH2': 'D002217',
 'UMLS1': 'C0000233',
 'UMLS2': 'C0000234',
 'combo': ['D000001-D002217', 'D00001-UMLS1', 'UMLS1-MESH2', 'UMLS1-UMLS2'],
 'overal_freq': {'total': 23, 'most_current_10': 10, 'most_current_5': 5},
 'starred_frequency': {'total': 5, 'most_current_10': 2, 'most_current_5': 1},
 'ngd_overall': 0.23,
 'ngd_starred': 0.12}

In [9]:
def load_json(data_folder):
    
    co_occur = os.path.join(data_folder, 'summary_CoOccurs_2020.txt')
    freq = os.path.join(data_folder, 'MH_freq_counts_2020.txt')
    assert os.path.exists(co_occur)
    assert os.path.exists(freq)
    
    co_occur_dat = pd.read_csv(co_occur, sep='|')
    
    results = {}

In [27]:
df = pd.read_csv('~/Documents/NIH_CoOccurs/co-occurs/co_occurs_1', sep='|')

In [30]:
df

,DUI1,CUI1,DUI2,CUI2,Freq,StarFreq(COF),Year,TimeFrame(SAB),numNoSH,StarnumNoSH,numSH,BothMain?,Star1OnlyFreq,Star2OnlyFreq,SH1OnlyFreq,SH2OnlyFreq
0,D000001,C0000699,D000067759,C0101725,1,0,2009,MBD,0,0,0,ZN,0,0,1,0
1,D000001,C0000699,D000067856,C1882413,1,0,1990,RST,0,0,0,ZN,0,0,1,0
2,D000001,C0000699,D000067856,C1882413,1,0,1996,RST,0,0,0,ZN,0,1,1,0
3,D000001,C0000699,D000067856,C1882413,1,0,2005,RST,0,0,0,ZN,0,1,1,0
4,D000001,C0000699,D000068299,C0245531,1,0,1995,RST,0,0,0,ZN,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6999994,D000223,C0683269,D046352,C1449593,1,0,2010,MBD,0,0,0,ZN,0,0,0,0
6999995,D000223,C0683269,D046352,C1449593,2,0,2014,MED,1,0,0,ZN,0,0,0,1
6999996,D000223,C0683269,D046352,C1449593,1,0,2015,MED,0,0,0,ZN,1,0,0,0
6999997,D000223,C0683269,D046352,C1449593,1,0,2016,MED,0,0,0,ZN,1,0,1,0
6999998,D000223,C0683269,D046352,C1449593,3,0,2017,MED,0,0,0,ZN,2,0,1,0

In [31]:
df2 = df.groupby(['DUI1', 'DUI2', 'CUI1', 'CUI2'])[['Freq', 'StarFreq(COF)']].sum()

In [34]:
count = 0
for row in df2.iterrows():
    print(row, '\n')
    count += 1
    if count == 20:
        break

(('D000001', 'D000067759', 'C0000699', 'C0101725'), Freq             1
StarFreq(COF)    0
Name: (D000001, D000067759, C0000699, C0101725), dtype: int64)

(('D000001', 'D000067856', 'C0000699', 'C1882413'), Freq             3
StarFreq(COF)    0
Name: (D000001, D000067856, C0000699, C1882413), dtype: int64)

(('D000001', 'D000068299', 'C0000699', 'C0245531'), Freq             3
StarFreq(COF)    0
Name: (D000001, D000068299, C0000699, C0245531), dtype: int64)

(('D000001', 'D000068577', 'C0000699', 'C0068475'), Freq             2
StarFreq(COF)    0
Name: (D000001, D000068577, C0000699, C0068475), dtype: int64)

(('D000001', 'D000068579', 'C0000699', 'C0538927'), Freq             3
StarFreq(COF)    0
Name: (D000001, D000068579, C0000699, C0538927), dtype: int64)

(('D000001', 'D000068677', 'C0000699', 'C0724693'), Freq             1
StarFreq(COF)    0
Name: (D000001, D000068677, C0000699, C0724693), dtype: int64)

(('D000001', 'D000068756', 'C0000699', 'C0216784'), Freq             2
StarFreq(COF)    0
Name: (D000001, D000068756, C0000699, C0216784), dtype: int64)

(('D000001', 'D000069463', 'C0000699', 'C0069449'), Freq             3
StarFreq(COF)    0
Name: (D000001, D000069463, C0000699, C0069449), dtype: int64)

(('D000001', 'D000070796', 'C0000699', 'C4255066'), Freq             1
StarFreq(COF)    0
Name: (D000001, D000070796, C0000699, C4255066), dtype: int64)

(('D000001', 'D000071058', 'C0000699', 'C4255255'), Freq             1
StarFreq(COF)    0
Name: (D000001, D000071058, C0000699, C4255255), dtype: int64)

(('D000001', 'D000071063', 'C0000699', 'C4255054'), Freq             1
StarFreq(COF)    0
Name: (D000001, D000071063, C0000699, C4255054), dtype: int64)

(('D000001', 'D000071137', 'C0000699', 'C4082864'), Freq             1
StarFreq(COF)    0
Name: (D000001, D000071137, C0000699, C4082864), dtype: int64)

(('D000001', 'D000071161', 'C0000699', 'C4255371'), Freq             1
StarFreq(COF)    0
Name: (D000001, D000071161, C0000699, C4255371), dtype: int64)

(('D000001', 'D000071223', 'C0000699', 'C4277624'), Freq             1
StarFreq(COF)    0
Name: (D000001, D000071223, C0000699, C4277624), dtype: int64)

(('D000001', 'D000071246', 'C0000699', 'C0536847'), Freq             2
StarFreq(COF)    0
Name: (D000001, D000071246, C0000699, C0536847), dtype: int64)

(('D000001', 'D000071248', 'C0000699', 'C4282122'), Freq             2
StarFreq(COF)    0
Name: (D000001, D000071248, C0000699, C4282122), dtype: int64)

(('D000001', 'D000071256', 'C0000699', 'C0107264'), Freq             2
StarFreq(COF)    0
Name: (D000001, D000071256, C0000699, C0107264), dtype: int64)

(('D000001', 'D000071425', 'C0000699', 'C0671114'), Freq             3
StarFreq(COF)    0
Name: (D000001, D000071425, C0000699, C0671114), dtype: int64)

(('D000001', 'D000071438', 'C0000699', 'C4255108'), Freq             1
StarFreq(COF)    0
Name: (D000001, D000071438, C0000699, C4255108), dtype: int64)

(('D000001', 'D000071679', 'C0000699', 'C0244988'), Freq             4
StarFreq(COF)    0
Name: (D000001, D000071679, C0000699, C0244988), dtype: int64)